/* 
    author: Tangqi Feng

    this file is the css style for html page:
        
        rigister.html

*/

.text1 {
    margin: 6px 0 6px 0;
    color: #1C6ED1;
}

.text2 {
    margin: 6px 0 6px 0;
    color: #FF8040;
}

.text3 {
    margin: 6px 0 6px 0;
    color: #FF0000;
}