<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>BMI-calculator</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!--auther: Tangqi Feng-->
    <script type="text/javascript" src="{{mainJs}}"></script>


    <style>
        h1,
        h4 {
            text-align: center;
        }
        
        .button {
            border-top: 1px solid #96d1f8;
            background: #65a9d7;
            background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
            background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
            background: -moz-linear-gradient(top, #3e779d, #65a9d7);
            background: -ms-linear-gradient(top, #3e779d, #65a9d7);
            background: -o-linear-gradient(top, #3e779d, #65a9d7);
            padding: 5px 10px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
            -webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
            -moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
            box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
            text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
            color: white;
            font-size: 14px;
            font-family: Georgia, serif;
            text-decoration: none;
            vertical-align: middle;
        }
        
        .tableForm1 {
            padding-left: 210px;
            padding-bottom: 10px;
        }
        
        .text1 {
            margin: 6px 0 6px 0;
            color: #1C6ED1;
        }
        
        .text2 {
            margin: 6px 0 6px 0;
            color: #FF8040;
        }
        
        .text3 {
            margin: 6px 0 6px 0;
            color: #FF0000;
        }
    </style>
</head>

<body>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- the usage of bootstrap all come from:
         http://www.runoob.com/try/bootstrap/layoutit/#
         or https://v4-alpha.getbootstrap.com/components/forms/-->

    <div class="container" style="border: 1px dashed rgb(0,255,0)">

        <!--title part-->
        <div class="title" style="border: 1px dashed rgb(255,0,0)">
            <h1>BMI calculator</h1>
            <h4>(ideal weight calculater)</h4>
        </div>

        <!--introduction & log in parts-->
        <div class="row clearfix" id="introduction">
            <!--introduction part                    author: Zehua Yu-->
            <div class="col-md-8 column" style="border: 1px dashed rgb(0,0,255)">
                <p height=100 align="left" style="font-size:18px; font-weight:600; ">BMI Equation: BMI = Weight（Kilograms） / Height^2(Meters)</p>
                <div id="popDiv" style="height:auto!important;height:20px;border:1px ;">what is BMI : if you want to know more click
                    <label id="method" type="button" style="width:100px;" onclick="var sta = document.getElementById('popTitle');
                          var mod = document.getElementById('method');
                          if(sta.style.display == 'none')
                          {
                          sta.style.display='';
                          mod.innerText='retraction';
                          mod.innerHTML='retraction';
                          }
                        else
                          {
                          sta.style.display='none';
                          mod.innerText='here';
                          mod.innerHTML='here';};">here

                    </label>

                    <div id="popTitle" visibility="hidden" style="display:none;">
                        <pre style="word-break:break-all;width:500px;height:100px;">
Body mass index (BMI) is a measure of body fat based on your
weight in relation to your height, and applies to most adult
 men and women aged 20 and over. For children aged 2and over
 , BMI percentile is the best assessment of body fat.
                            </pre>
                    </div>
                </div>
            </div>
            <!-- log in part                  author: Tangqi Feng -->
            <div class="col-md-4 column" id="login" style="border: 1px dashed rgb(0,0,255);background-color: #ECF5FC;">
                <img width="150" height="55" src="{{login}}" />
                <form action="/login" method="post">
                    <p class="text1">user name：</p>
                    <p class="text1">
                        <input name="username" type="text" style="width: 240px; height: 25px;" />
                    </p>
                    <p class="text1">password：</p>
                    <p class="text1">
                        <input name="password" type="password" style="width: 240px; height: 25px;" />
                    </p>
                    <p class="text3">{{get_flashed_messages()[0]}} </p>
                    <p class="text1">

                        <button onclick="submit" style="margin: 0; padding: 0; border-width: 0;"><img width="70" height="25" src="{{loginButton}}" /></button>
                        <a style="font-size:10px; margin-left:15px;" href="/register">REGISTER NOW !</a>
                    </p>
                </form>
            </div>
        </div>

        <!-- main & inches to cm convert caculator-->
        <div class="row clearfix" id="main&calculator">

            <!-- main                             author: Tangqi Feng   -->
            <div class="col-md-8 column" id="main" style="border: 1px dashed rgb(0,0,255)">
                <table class="col-md-12 column" align:center borderColorDark=#f5fafa borderColorLight=#8AB78A>
                    <tr>
                        <td align=center bgColor=#f9fbf9 style="height:30px; font-size:18px; color:green; ">
                            <br>adult height-weight calculate
                            <hr/>
                        </td>
                    </tr>
                    <tr>
                        <form name="form1">
                            <td bgColor=#f9fbf9 class="tableForm1">
                                your height：
                                <br>
                                <input size=16 name=height style="width: 240px; height: 30px;">&nbsp;(cm)
                                <br>
                                <br> your weight：
                                <br>
                                <input name=weight style="width: 240px; height: 30px;">&nbsp;(kg)
                                <br>
                                <br> your gender：
                                <select size=1 name=sex style="margin-left:20px;">
                                    <option value=0 selected>male</option>
                                    <option value=1>female</option>
                                </select>
                                <br>
                                <br>
                                <input class="button" onclick=lookme(this.form) type=button value=snbmit name=button style="margin-left:50px;">
                                <input class="button" onclick=ClearForm() type=reset value="  reset  " name=reset style="margin-left:30px;">
                            </td>
                        </form>
                    </tr>
                </table>
            </div>

            <!-- inches to cm convert caculator -->
            <div class="col-md-4 column" id="calculator" style="border: 1px dashed rgb(0,0,255)">
                <p>calculator</p>
            </div>
        </div>

        <!--result display          author: Tangqi Feng -->
        <div class="row clearfix" id="result" style="border: 1px dashed rgb(0,0,255)">
            <table class="col-md-12 column" height="200px" borderColorDark=#f5fafa borderColorLight=#8AB78A>
                <form name="form2">
                    <tr>
                        <td align=center bgColor=#f9fbf9 colspan="2" style="font-size:18px; color:green; ">result
                            <hr/>
                        </td>
                    </tr>
                    <tr>
                        <td class="text1" bgColor=#f9fbf9 style="padding-left: 30%;">
                            <span class="text2">your ideal weight：</span>
                            <input onfocus=blur() size=4 name="legendweight" style="border:0; background:none;">&nbsp;
                            <span class="text2">kg</span>
                        </td>
                        <td class="text1" bgColor=#f9fbf9 style="padding-right: 180px;">
                            <span class="text2">your BMI：</span>
                            <input onfocus=blur() size=3 name="bmi" style="border:0; background:none;">&nbsp;&nbsp;&nbsp;
                            <span class="text2">(21-22 is the best)</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="text1" align=center bgColor=#f9fbf9 colspan="2">
                            <span class="text2">your current state：</span>
                            <textarea onfocus=blur() name=nowstat cols=40 style="border:0; background:none;"></textarea>
                        </td>
                    </tr>
                </form>
            </table>
        </div>

        <!--extension info-->
        <div class="row clearfix" id="exInfo" style="border: 1px dashed rgb(0,0,255)">
            <p>extension infomation</p>
        </div>




    </div>







</body>

</html>